<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-indigo-600">
  <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
    <div class="pr-16 sm:text-center sm:px-16">
      <p class="font-medium text-white">
        <span class="md:hidden">
          Congratulations!
        </span>
        <span class="hidden md:inline">
          If this looks good everything is set up correctly!
        </span>
      </p>
    </div>
  </div>
</div>